<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.login">

    <application
        android:label="@string/ml_app_name">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>