<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.a">

    <application android:label="@string/ma_app_name">
        <activity
            android:name=".view.activity.MainActivityA"
            android:screenOrientation="portrait" />
    </application>
</manifest>